.service-reservation-form {
    padding-top: 200px;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #2d0a0a;
    border-radius: 5px;
    background-color: #192431;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  h2{
    color: white;
    padding-bottom: 60px;
  }

  label{
    color:white;
    padding-bottom: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  input:hover,
  select:hover{
    cursor: pointer;
  }
 